.mindiq-bar-outer {
}
.mindiq-bar-top {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 250;
    width: 100%;
    min-height: 32px;
}
.mindiq-bar-bottom {
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 250;
    width: 100%;
    min-height: 32px;
}
.mindiq-bar-style {
    position: relative;
    z-index: 250;
    left: 0;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    color: #000;
    cursor: default;
    background: #ffcc00;
    width: 100%;
    transition: opacity 1s linear;
    /* these properties are required only by the demo page at http://experiments.wemakesites.net/css3-hello-bar.html */
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
    vertical-align: center;
}
.mindiq-bar-switch-top {
    position: fixed;
    top: 0px;
    left: 96%;
    background: rgb(255, 204, 0);
    color: black;
    display: inline-block;
    float: right;
    margin-right: 12px;
    cursor: pointer;
    clear: both;
    z-index: 500;
    vertical-align: middle;
    padding: 0;
}
.mindiq-bar-switch-bottom {
    position: fixed;
    bottom: 0px;
    left: 96%;
    background: rgb(255, 204, 0);
    color: black;
    display: inline-block;
    float: right;
    margin-right: 12px;
    cursor: pointer;
    clear: both;
    z-index: 500;
    vertical-align: middle;
    padding: 0;
}
.mindiq-bar-switch {
    z-index: 1000;
}
@media screen and (min-width: 783px) {
    .admin-bar .mindiq-bar-top {
        top: 32px;
    }
    .admin-bar .mindiq-bar-switch-top {
        top: 31px;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .admin-bar .mindiq-bar-switch-top {
        top: 31px;
        left: 88%;
    }
    .mindiq-bar-switch-bottom {
        left: 88%;
    }
}